
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background: #efefef;
  color: #2a2a2a;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 1.5em;
}

hr {
  border-top: 1px solid #2a2a2a;
  width: 100%;
  margin: 4rem 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-style: none;
}
